<section class="products_background">
  <div class="container_grid">
    <div class="row">
      <div class="col-12">
        <div class="notFound">
          <h1>Página não encontrada!</h1>
          <img
            src="./assets/imagens/gato.jpg"
            alt="Meme Gato chorando"
            width="472"
            height="500"
            style="color: white"
          />
          <p class="notFound_text">
            Calma, você pode voltar para a página principal<a routerLink=""
              >aqui!</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
